header {
    position: fixed;
    text-align: center;
    color: white;
    font-family: 'Lobster Two', cursive;
    background-image: url("http://3.bp.blogspot.com/_5tIvW9350EM/TMLY8JzmX_I/AAAAAAAAAsA/pi5zqeHrPnk/s1600/drums+and+friends.jpg");
    background-size: cover;
    height: 200px;
    margin-top: 0px;
    font-size: 30px;
}
  a {
    color: white;
  }
  h1 {
    font-size: 75px;
     margin-right: 8%;
  }
  ul {
    padding: 10px;
    background: black;
    width: 1900px;
    margin-right: 150px;
  }
  li {
    display: inline;
    padding:  10px 60px 0px 60px;
  }
.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  display: inline-block;
  background-image: url("https://wallpaperscraft.com/image/piano_music_background_style_80581_2560x1440.jpg");
  width: 1900px;
  height: 1500px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0px 0px 0px 0px;
  margin-top: -50px
}
.aboutmecontent {
  color: white;
  background-color: black;
  font-size: 30px;
  width: 1000px;
  text-align: center;
  border: 7px solid white;
  margin-left: 23%;
}
.Karmanos {
  color: white;
  background-color: black;
  font-size: 30px;
  width: 1000px;
  text-align: center;
  border: 7px solid white;
  margin-left: 23%;
}
  h2 {
    font-family: 'Lobster Two', cursive;;
    font-size: 50px;
    text-align: center;
    color: white;
    border: 7px solid white;
    background: black;
  }
  .Performance {
  text-align: center;
  color: white;
  background: black;
  width: 650px;
  margin-left: 33%;
  }
  img {
    margin: 40px 0px 0px 0px;
    border: 7px solid white;
    border-radius: 20px;
  }
.aboutme {
  text-align: center;
  color: white;
  background: black;
  width: 650px;
  margin-left: 33%;
}
html, body {
    padding: 0;
    margin: 0;
}
.background-image {
  border: 7px solid black;
}
table {
  text-align: center;
}
table, th, td {
    border: 1px solid white;
    font-size: 30px;
    margin-left: 36%;
    background: black;
    color: white;
    font-family: 'Lobster Two', cursive;
    padding: 50px 50px 10px 50px
}
th {
  font-size: 45px;
}